.spin-loader {
  width: 16px;
  height: 16px;
  margin: 3px;
  flex-shrink: 0;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  mask: radial-gradient(circle, transparent 55%, var(--rp-ui-color-primary) 0%);

  &.color-topaz {
    background: conic-gradient(#0000 0%, var(--rp-ui-color-primary));
  }

  animation: spin 1s infinite linear;
}


@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}