.page-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.total-pages {
  display: inline-block;
  width: 124px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
